:root {
  --primary-blue: #3f4f7a;
}

.checkout-btn {
  margin-top: 20px;
  background: var(--primary-blue);
  color: white;
  border: none;
  padding: 14px 32px;
  border-radius: 30px;
  font-size: 16px;
  cursor: pointer;
  transition: 0.25s;
}

.checkout-btn:hover {
  background: #2f3d66;
  transform: translateY(-2px);
}
